@font-face {
  font-family: "diatype";
  src: url("diatype.otf") format("opentype");
}

body {
  background-color: #fafafa;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "diatype", "AUTHENTICSans", "Arial", sans-serif;
  line-height: 1.1em;
  /* font-size: 18px; */
}

a {
  color: #009688;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #ff4081;
  font-size: 24px;
  /* color: #ff5500;
  text-shadow: 2px 2px 2px #00f, -2px -2px 2px #f00, 0 0 10px #0f0;
  mix-blend-mode: difference; */
}

a:active {
  text-decoration: none;
}

/*******************
NAV
********************/
.nav {
  position: relative;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  /* margin: 27px 0px 36px 0px; */
}

.nav-link {
  display: inline-block;
  position: relative;
  /* text-decoration: underline; */
}

.nav-link a {
  text-decoration: none;
  color: #009688;
}

.nav-link a:hover {
  text-decoration: none;
  color: #ff4081;
}

.nav-link a.active {
  text-decoration: none;
  color: #784730;
}

.entry {
  padding: 0px;
  margin: 0px;
  font-size: 0px;
  line-height: 0px;
  position: absolute;
  z-index: 0;
}

.entry img,
.entry video {
  width: 100%;
  height: auto;
  border: 3px solid #00000000;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.entry img:hover,
.entry video:hover {
  filter: hue-rotate(100deg);

  /* filter: invert(100%); */
  /* filter: blur(0px); */
  filter: brightness(200%);
}

.marquee {
  position: absolute;
  top: 9px;
  left: 0;
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  /* background: yellow; */
  font-style: normal;
  /* font-size: 12px;
  line-height: 18px; */
  /* text-transform: uppercase; */
  z-index: 99999999;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  will-change: transform;
  animation: marquee 120s linear infinite;
}

.marquee span a {
  text-decoration: none;
}

.marquee span:hover {
  animation-play-state: paused;
  cursor: pointer;
}

@keyframes marquee {
  0% {
    transform: translate(-50%, 0);
  }

  100% {
    transform: translate(-70%, 0);
  }
}

div.text {
  max-width: 32rem;
}
